USE [master]
GO
/****** Object:  Database [CDMS_BASE]    Script Date: 2017/12/21 10:55:53 ******/
CREATE DATABASE [CDMS_BASE] ON  PRIMARY 
( NAME = N'CDMS_BASE', FILENAME = N'C:\AAAAAA\DB\CDMS_BASE\CDMS_BASE.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CDMS_BASE_log', FILENAME = N'C:\AAAAAA\DB\CDMS_BASE\CDMS_BASE_log.ldf' , SIZE = 3456KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CDMS_BASE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CDMS_BASE]
GO
/****** Object:  StoredProcedure [dbo].[P_GenFieldsForC#]    Script Date: 2017/12/21 10:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--
-- =============================================
-- Author:		<chengpeng>
-- Create date: <2015年4月2日17:50:42>
-- Description:	<根据表名生成对应的C# get set 访问>
-- =============================================
CREATE PROCEDURE [dbo].[P_GenFieldsForC#]
 @tableName VARCHAR(100)
--SET @tableName='T_Department'
AS
BEGIN

SELECT 
	'/// <summary>'+CHAR(13)+CHAR(10)+
	'///'+ISNULL(CONVERT(NVARCHAR(1000),g.[value]),a.name)+CHAR(13)+CHAR(10)+
	'/// </summary>'+CHAR(13)+CHAR(10)+
	--'[Column]'+CHAR(13)+CHAR(10)+
	'public '+CASE a.xtype 
	   WHEN 34 THEN 'byte[] '
		WHEN 35 THEN 'string '
		WHEN 36 THEN 'Guid '
		WHEN 48 THEN 'byte '
		WHEN 52 THEN 'short '
		WHEN 56 THEN 'int '
		WHEN 58 THEN 'DateTime '
		WHEN 59 THEN 'float '
		WHEN 60 THEN 'decimal '
		WHEN 61 THEN 'DateTime '
		WHEN 62 THEN 'double '
		WHEN 99 THEN 'string '
		WHEN 104 THEN 'bool '
		WHEN 106 THEN 'decimal '
		WHEN 108 THEN 'decimal '
		WHEN 122 THEN 'decimal '
		WHEN 127 THEN 'long ' 
		WHEN 165 THEN 'byte[] '
		WHEN 167 THEN 'string '
		WHEN 173 THEN 'byte[] '
		WHEN 175 THEN 'string '
		WHEN 189 THEN 'byte[] '
		WHEN 231 THEN 'string '
		WHEN 239 THEN 'string '
		ELSE 'string '
		END+' '+a.name+' { get; set; }'
FROM 
    syscolumns a
left join 
    systypes b 
on 
    a.xusertype=b.xusertype
inner join 
    sysobjects d 
on 
    a.id=d.id  and d.xtype='U' and  d.name<>'dtproperties'
left join 
    syscomments e 
on 
    a.cdefault=e.id
left join 
sys.extended_properties   g 
on 
    a.id=G.major_id and a.colid=g.minor_id  
left join
sys.extended_properties f
on 
    d.id=f.major_id and f.minor_id=0
where 
    d.name=@tableName   
order by 
    a.id,a.colorder

END


GO
/****** Object:  StoredProcedure [dbo].[P_GETTABLECOLUMN]    Script Date: 2017/12/21 10:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<ROC>
-- Create date: <2017年12月11日18:52:12>
-- Description:	<查询列表>
-- =============================================
CREATE PROCEDURE [dbo].[P_GETTABLECOLUMN]
@MENUID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @DBNAME NVARCHAR(100)
	DECLARE @SQL NVARCHAR(800)
	DECLARE @MENUIDSTRING NVARCHAR(20)

	SET @MENUIDSTRING=CONVERT(NVARCHAR(20),@MENUID)

	SELECT TOP 1 @DBNAME=DBNAME FROM dbo.SYS_MENUTABLE WHERE MENUID=@MENUID AND ENABLED=1

	SET @SQL=N'SELECT DISTINCT A.*,B.COLUMN_ID,B.NAME AS COLUMNNAME,B.SYSTEM_TYPE_ID AS COLUMNTYPE,ISNULL(C.[VALUE],B.NAME) AS COLUMNTEXT FROM (SELECT OBJECT_ID(''[''+DBNAME+''].[''+SCHEMANAME+''].[''+TABLENAME+'']'') AS OBJECTID,TABLENAME,ID AS TABLEID FROM dbo.SYS_MENUTABLE WHERE ENABLED=1 AND MENUID='+@MENUIDSTRING+') AS A LEFT JOIN ['+@DBNAME+'].sys.columns as B ON A.OBJECTID=B.object_id LEFT JOIN ['+@DBNAME+'].sys.extended_properties AS C ON B.object_id=C.major_id and B.COLUMN_ID=C.minor_id  WHERE B.COLUMN_ID IS NOT NULL ORDER BY A.TABLENAME,B.COLUMN_ID'

	PRINT @SQL
    --EXEC sp_executesql @SQL,'@MENUIDSTRING NVARCHAR(20)',@MENUIDSTRING
	EXEC(@SQL)
END

GO
/****** Object:  Table [dbo].[SYS_ARTICLE]    Script Date: 2017/12/21 10:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYS_ARTICLE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](200) NULL,
	[SUBTITLE] [nvarchar](200) NULL,
	[SUMMARY] [nvarchar](500) NULL,
	[AUTHOR] [nvarchar](50) NULL,
	[CONTENTS] [nvarchar](max) NULL,
	[CATEGORYID] [int] NULL,
	[CODE] [varchar](50) NULL,
	[STATUS] [int] NULL,
	[ISRED] [bit] NULL,
	[ISHOT] [bit] NULL,
	[ISTOP] [bit] NULL,
	[ISDISPLAY] [bit] NULL,
	[CLICK] [int] NULL,
	[LINKURL] [varchar](200) NULL,
	[SEOTITLE] [nvarchar](200) NULL,
	[SEOKEYWORDS] [nvarchar](200) NULL,
	[SEOREMARK] [nvarchar](500) NULL,
	[SORTID] [int] NULL,
	[CREATEBY] [varchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[UPDATEBY] [varchar](50) NULL,
	[UPDATEDATE] [datetime] NULL,
	[ENABLED] [bit] NULL,
 CONSTRAINT [PK_SYS_ARTICLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SYS_BUTTON]    Script Date: 2017/12/21 10:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYS_BUTTON](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
	[TITLE] [varchar](50) NULL,
	[IMG] [varchar](50) NULL,
	[CLASSNAME] [varchar](50) NULL,
	[CODE] [varchar](50) NULL,
	[SORTID] [int] NULL,
	[TYPE] [varchar](50) NULL,
	[REMARK] [nvarchar](100) NULL,
	[CREATEBY] [varchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[UPDATEBY] [varchar](50) NULL,
	[UPDATEDATE] [datetime] NULL,
	[ENABLED] [bit] NULL,
 CONSTRAINT [PK_SYS_BUTTON] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SYS_CATEGORY]    Script Date: 2017/12/21 10:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYS_CATEGORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE] [int] NULL,
	[NAME] [nvarchar](100) NULL,
	[CODE] [varchar](50) NULL,
	[PARENTID] [int] NULL,
	[REMARK] [nvarchar](300) NULL,
	[ISNAV] [bit] NULL,
	[ISSPECIAL] [bit] NULL,
	[URL] [varchar](300) NULL,
	[TARGET] [int] NULL,
	[SORTID] [int] NULL,
	[CREATEBY] [varchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[UPDATEBY] [varchar](50) NULL,
	[UPDATEDATE] [datetime] NULL,
	[ENABLED] [bit] NULL,
 CONSTRAINT [PK_SYS_CATETORY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SYS_DICTIONARY]    Script Date: 2017/12/21 10:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYS_DICTIONARY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE] [varchar](100) NULL,
	[CODE] [varchar](50) NULL,
	[TEXT] [varchar](200) NULL,
	[VALUE] [varchar](100) NULL,
	[REMARK] [varchar](200) NULL,
	[SORTID] [int] NULL,
	[ENABLED] [bit] NULL,
	[CREATEBY] [varchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[UPDATEBY] [varchar](50) NULL,
	[UPDATEDATE] [datetime] NULL,
 CONSTRAINT [PK_SYS_DICTIONARY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SYS_IMAGE]    Script Date: 2017/12/21 10:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYS_IMAGE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](200) NULL,
	[SUMMARY] [nvarchar](500) NULL,
	[CODE] [varchar](50) NULL,
	[STATUS] [int] NULL,
	[SORTID] [int] NULL,
	[CREATEBY] [varchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[UPDATEBY] [varchar](50) NULL,
	[UPDATEDATE] [datetime] NULL,
	[ENABLED] [bit] NULL,
 CONSTRAINT [PK_SYS_IMAGE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SYS_IMAGEDETAIL]    Script Date: 2017/12/21 10:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYS_IMAGEDETAIL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IMAGEID] [int] NULL,
	[TITLE] [nvarchar](100) NULL,
	[ALT] [nvarchar](100) NULL,
	[TYPE] [int] NULL,
	[URL] [varchar](300) NULL,
	[ISLOCAL] [bit] NULL,
	[WIDTH] [int] NULL,
	[HEIGHT] [int] NULL,
	[CREATEBY] [varchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[UPDATEBY] [varchar](50) NULL,
	[UPDATEDATE] [datetime] NULL,
	[ENABLED] [bit] NULL,
 CONSTRAINT [PK_SYS_IMAGEDETAIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SYS_LOG]    Script Date: 2017/12/21 10:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYS_LOG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LOGTYPE] [int] NOT NULL,
	[TABLETYPE] [int] NOT NULL,
	[ACTIONTYPE] [int] NOT NULL,
	[OBJECTID] [varchar](50) NULL,
	[TITLE] [varchar](100) NOT NULL,
	[CONTENT] [nvarchar](500) NOT NULL,
	[PCONTENT] [varchar](1000) NULL,
	[IPADDRESS] [varchar](50) NULL,
	[URL] [varchar](500) NULL,
	[BROWSER] [varchar](50) NULL,
	[CREATEBY] [varchar](50) NULL,
	[CREATENAME] [varchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[ENABLED] [bit] NULL,
 CONSTRAINT [PK_SYS_LOG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SYS_MENU]    Script Date: 2017/12/21 10:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYS_MENU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
	[TITLE] [varchar](50) NULL,
	[CODE] [varchar](50) NULL,
	[IMG] [varchar](50) NULL,
	[TYPE] [int] NULL,
	[URL] [varchar](200) NULL,
	[TARGET] [varchar](50) NULL,
	[PARENTID] [int] NULL,
	[CLASSNAME] [varchar](50) NULL,
	[DISPLAY] [bit] NULL,
	[REMARK] [varchar](100) NULL,
	[SORTID] [int] NULL,
	[CREATEBY] [varchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[UPDATEBY] [varchar](50) NULL,
	[UPDATEDATE] [datetime] NULL,
	[ENABLED] [bit] NULL,
 CONSTRAINT [PK_SYS_MENU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SYS_MENUCOLUMN]    Script Date: 2017/12/21 10:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYS_MENUCOLUMN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MENUID] [int] NULL,
	[TABLEID] [int] NULL,
	[NAME] [varchar](80) NULL,
	[TYPE] [int] NULL,
	[CONDITIONTYPE] [int] NULL,
	[INPUTTYPE] [int] NULL,
	[FIELDTYPE] [int] NULL,
	[FIELDTEXT] [varchar](50) NULL,
	[FIELDVALUE] [varchar](200) NULL,
	[SORTID] [int] NULL,
	[CREATEBY] [varchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[UPDATEBY] [varchar](50) NULL,
	[UPDATEDATE] [datetime] NULL,
	[ENABLED] [bit] NULL,
 CONSTRAINT [PK_SYS_MENUCOLUMN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SYS_MENUTABLE]    Script Date: 2017/12/21 10:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYS_MENUTABLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MENUID] [int] NULL,
	[DBNAME] [nvarchar](100) NULL,
	[TABLENAME] [nvarchar](100) NULL,
	[SCHEMANAME] [nvarchar](50) NULL,
	[ALIASNAME] [varchar](50) NULL,
	[SORTID] [int] NULL,
	[CREATEBY] [varchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[UPDATEBY] [varchar](50) NULL,
	[UPDATEDATE] [datetime] NULL,
	[ENABLED] [bit] NULL,
 CONSTRAINT [PK_SYS_MENUTABLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SYS_ORGANIZATION]    Script Date: 2017/12/21 10:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYS_ORGANIZATION](
	[ID] [varchar](50) NOT NULL,
	[CODE] [varchar](50) NULL,
	[NAME] [varchar](100) NULL,
	[PARENTID] [varchar](50) NULL,
	[INNERPHONE] [varchar](50) NULL,
	[OUTERPHONE] [varchar](50) NULL,
	[MANAGER] [varchar](50) NULL,
	[ASSISTANTMANAGER] [varchar](50) NULL,
	[FAX] [varchar](20) NULL,
	[ZIPCODE] [varchar](20) NULL,
	[ADDRESS] [varchar](200) NULL,
	[REMARK] [varchar](200) NULL,
	[SORTID] [int] NULL,
	[CREATEBY] [varchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[UPDATEBY] [varchar](50) NULL,
	[UPDATEDATE] [datetime] NULL,
	[ENABLED] [bit] NULL,
 CONSTRAINT [PK_SYS_ORGANIZATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SYS_ORGANIZATIONUSER]    Script Date: 2017/12/21 10:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYS_ORGANIZATIONUSER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ORGID] [varchar](50) NULL,
	[USERID] [int] NULL,
 CONSTRAINT [PK_SYS_ORGANIZATIONUSER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SYS_ROLE]    Script Date: 2017/12/21 10:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYS_ROLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](100) NULL,
	[REMARK] [nvarchar](200) NULL,
	[SORTID] [int] NULL,
	[CREATEBY] [varchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[UPDATEBY] [varchar](50) NULL,
	[UPDATEDATE] [datetime] NULL,
	[ENABLED] [bit] NULL,
 CONSTRAINT [PK_SYS_ROLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SYS_ROLEMENU]    Script Date: 2017/12/21 10:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_ROLEMENU](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ROLEID] [int] NULL,
	[MENUID] [int] NULL,
 CONSTRAINT [PK_SYS_ROLEMENU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SYS_ROLEUSER]    Script Date: 2017/12/21 10:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_ROLEUSER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NULL,
	[ROLEID] [int] NULL,
 CONSTRAINT [PK_SYS_ROLEUSER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SYS_USER]    Script Date: 2017/12/21 10:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYS_USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNT] [varchar](50) NULL,
	[PWD] [varchar](50) NULL,
	[CNNAME] [nvarchar](50) NULL,
	[ENNAME] [varchar](50) NULL,
	[SEX] [varchar](20) NULL,
	[AGE] [int] NULL,
	[EMAIL] [varchar](100) NULL,
	[PHONE] [varchar](20) NULL,
	[THEME] [varchar](50) NULL,
	[QUESTION] [nvarchar](100) NULL,
	[ANSWER] [varchar](100) NULL,
	[IMG] [varchar](300) NULL,
	[REMARK] [varchar](200) NULL,
	[CREATEBY] [varchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[UPDATEBY] [varchar](50) NULL,
	[UPDATEDATE] [datetime] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_SYS_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SYS_USERLOGIN]    Script Date: 2017/12/21 10:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYS_USERLOGIN](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EMPLOYEEID] [varchar](50) NULL,
	[LOGINKEY] [uniqueidentifier] NULL,
	[LOGINTIME] [datetime] NULL,
	[EXPIREDTIME] [datetime] NULL,
	[LOGOUTTIME] [datetime] NULL,
	[STATUS] [bit] NULL,
	[IP] [varchar](50) NULL,
	[BROWSER] [varchar](50) NULL,
	[DESCRIPTION] [varchar](200) NULL,
 CONSTRAINT [PK_T_Base_UserLogin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SYS_ARTICLE] ON 

INSERT [dbo].[SYS_ARTICLE] ([ID], [TITLE], [SUBTITLE], [SUMMARY], [AUTHOR], [CONTENTS], [CATEGORYID], [CODE], [STATUS], [ISRED], [ISHOT], [ISTOP], [ISDISPLAY], [CLICK], [LINKURL], [SEOTITLE], [SEOKEYWORDS], [SEOREMARK], [SORTID], [CREATEBY], [CREATEDATE], [UPDATEBY], [UPDATEDATE], [ENABLED]) VALUES (1, N'新闻', NULL, NULL, N'0', N'WWW', 2, N'aaa', 1, 1, 0, 1, 1, 123, NULL, NULL, NULL, NULL, 0, N'admin', CAST(0x0000A831010559E6 AS DateTime), N'admin', CAST(0x0000A83101173F35 AS DateTime), 1)
INSERT [dbo].[SYS_ARTICLE] ([ID], [TITLE], [SUBTITLE], [SUMMARY], [AUTHOR], [CONTENTS], [CATEGORYID], [CODE], [STATUS], [ISRED], [ISHOT], [ISTOP], [ISDISPLAY], [CLICK], [LINKURL], [SEOTITLE], [SEOKEYWORDS], [SEOREMARK], [SORTID], [CREATEBY], [CREATEDATE], [UPDATEBY], [UPDATEDATE], [ENABLED]) VALUES (3, N'rrr', NULL, NULL, N'系统管理员', N'<b>22eeee</b>eee', 3, NULL, 1, 0, 0, 1, 1, 0, NULL, NULL, NULL, NULL, 0, N'admin', CAST(0x0000A83101072A8D AS DateTime), N'admin', CAST(0x0000A83101133CC5 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[SYS_ARTICLE] OFF
SET IDENTITY_INSERT [dbo].[SYS_BUTTON] ON 

INSERT [dbo].[SYS_BUTTON] ([ID], [NAME], [TITLE], [IMG], [CLASSNAME], [CODE], [SORTID], [TYPE], [REMARK], [CREATEBY], [CREATEDATE], [UPDATEBY], [UPDATEDATE], [ENABLED]) VALUES (1, N'添加', NULL, N'&#xe654;', NULL, N'btn-add', 100, NULL, NULL, N'702220440', CAST(0x0000A8270120446F AS DateTime), N'702220440', CAST(0x0000A8270129DACD AS DateTime), 1)
INSERT [dbo].[SYS_BUTTON] ([ID], [NAME], [TITLE], [IMG], [CLASSNAME], [CODE], [SORTID], [TYPE], [REMARK], [CREATEBY], [CREATEDATE], [UPDATEBY], [UPDATEDATE], [ENABLED]) VALUES (2, N'修改', NULL, N'&#xe642;', NULL, N'btn-edit', 100, NULL, NULL, N'702220440', CAST(0x0000A82701205934 AS DateTime), N'702220440', CAST(0x0000A8270129ECD1 AS DateTime), 1)
INSERT [dbo].[SYS_BUTTON] ([ID], [NAME], [TITLE], [IMG], [CLASSNAME], [CODE], [SORTID], [TYPE], [REMARK], [CREATEBY], [CREATEDATE], [UPDATEBY], [UPDATEDATE], [ENABLED]) VALUES (3, N'批量删除', NULL, N'&#xe640;', N'layui-btn-danger', N'btn-delete', 100, NULL, NULL, N'702220440', CAST(0x0000A82701208A34 AS DateTime), N'702220440', CAST(0x0000A827012A13C8 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[SYS_BUTTON] OFF
SET IDENTITY_INSERT [dbo].[SYS_CATEGORY] ON 

INSERT [dbo].[SYS_CATEGORY] ([ID], [TYPE], [NAME], [CODE], [PARENTID], [REMARK], [ISNAV], [ISSPECIAL], [URL], [TARGET], [SORTID], [CREATEBY], [CREATEDATE], [UPDATEBY], [UPDATEDATE], [ENABLED]) VALUES (1, 0, N'总分类', N'', 0, N'总分类', 0, 0, N'', 1, 100, N'', CAST(0x0000A82E008EB78C AS DateTime), N'', CAST(0x0000A82E008EB78C AS DateTime), 1)
INSERT [dbo].[SYS_CATEGORY] ([ID], [TYPE], [NAME], [CODE], [PARENTID], [REMARK], [ISNAV], [ISSPECIAL], [URL], [TARGET], [SORTID], [CREATEBY], [CREATEDATE], [UPDATEBY], [UPDATEDATE], [ENABLED]) VALUES (2, 0, N'导航1', NULL, 1, NULL, 0, 0, NULL, 1, 100, N'admin', CAST(0x0000A82E0118DD85 AS DateTime), N'admin', CAST(0x0000A82E0118DD85 AS DateTime), 1)
INSERT [dbo].[SYS_CATEGORY] ([ID], [TYPE], [NAME], [CODE], [PARENTID], [REMARK], [ISNAV], [ISSPECIAL], [URL], [TARGET], [SORTID], [CREATEBY], [CREATEDATE], [UPDATEBY], [UPDATEDATE], [ENABLED]) VALUES (3, 0, N'导航2', NULL, 1, NULL, 1, 1, NULL, 2, 100, N'admin', CAST(0x0000A82E011E982B AS DateTime), N'admin', CAST(0x0000A82E011E982B AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[SYS_CATEGORY] OFF
SET IDENTITY_INSERT [dbo].[SYS_DICTIONARY] ON 

INSERT [dbo].[SYS_DICTIONARY] ([ID], [TYPE], [CODE], [TEXT], [VALUE], [REMARK], [SORTID], [ENABLED], [CREATEBY], [CREATEDATE], [UPDATEBY], [UPDATEDATE]) VALUES (1, N'0', N'ALL', N'字典类型', N'0', N'', 100, 1, N'', CAST(0x0000A84900A92270 AS DateTime), N'', CAST(0x0000A84900A92270 AS DateTime))
SET IDENTITY_INSERT [dbo].[SYS_DICTIONARY] OFF
SET IDENTITY_INSERT [dbo].[SYS_MENU] ON 

INSERT [dbo].[SYS_MENU] ([ID], [NAME], [TITLE], [CODE], [IMG], [TYPE], [URL], [TARGET], [PARENTID], [CLASSNAME], [DISPLAY], [REMARK], [SORTID], [CREATEBY], [CREATEDATE], [UPDATEBY], [UPDATEDATE], [ENABLED]) VALUES (1, N'CDMS', NULL, NULL, N'&#xe7a0;', 1, NULL, NULL, 0, N'', 1, NULL, 100, N'system', CAST(0x0000A82500B0A900 AS DateTime), N'702220440', CAST(0x0000A826013922FF AS DateTime), 1)
INSERT [dbo].[SYS_MENU] ([ID], [NAME], [TITLE], [CODE], [IMG], [TYPE], [URL], [TARGET], [PARENTID], [CLASSNAME], [DISPLAY], [REMARK], [SORTID], [CREATEBY], [CREATEDATE], [UPDATEBY], [UPDATEDATE], [ENABLED]) VALUES (2, N'系统管理', NULL, NULL, N'&#xe620;', 1, NULL, NULL, 1, N'', 1, NULL, 100, N'702220440', CAST(0x0000A825013598A8 AS DateTime), N'702220440', CAST(0x0000A82601391183 AS DateTime), 1)
INSERT [dbo].[SYS_MENU] ([ID], [NAME], [TITLE], [CODE], [IMG], [TYPE], [URL], [TARGET], [PARENTID], [CLASSNAME], [DISPLAY], [REMARK], [SORTID], [CREATEBY], [CREATEDATE], [UPDATEBY], [UPDATEDATE], [ENABLED]) VALUES (3, N'角色管理', NULL, NULL, N'&#xe613;', 2, N'/sys/role', NULL, 2, N'', 1, NULL, 100, N'702220440', CAST(0x0000A8250135C19E AS DateTime), N'702220440', CAST(0x0000A82700F06E75 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[SYS_MENU] OFF
SET IDENTITY_INSERT [dbo].[SYS_MENUCOLUMN] ON 

INSERT [dbo].[SYS_MENUCOLUMN] ([ID], [MENUID], [TABLEID], [NAME], [TYPE], [CONDITIONTYPE], [INPUTTYPE], [FIELDTYPE], [FIELDTEXT], [FIELDVALUE], [SORTID], [CREATEBY], [CREATEDATE], [UPDATEBY], [UPDATEDATE], [ENABLED]) VALUES (1, 3, 1, N'NAME', 1, 7, 1, 167, N'关键字', NULL, 120, N'admin', CAST(0x0000A84700EA4594 AS DateTime), N'admin', CAST(0x0000A84700F30FD8 AS DateTime), 0)
INSERT [dbo].[SYS_MENUCOLUMN] ([ID], [MENUID], [TABLEID], [NAME], [TYPE], [CONDITIONTYPE], [INPUTTYPE], [FIELDTYPE], [FIELDTEXT], [FIELDVALUE], [SORTID], [CREATEBY], [CREATEDATE], [UPDATEBY], [UPDATEDATE], [ENABLED]) VALUES (2, 3, 1, N'REMARK', 1, 1, 1, 231, N'REMARK', NULL, 100, N'admin', CAST(0x0000A84700F31FDC AS DateTime), N'admin', CAST(0x0000A84700F31FDC AS DateTime), 0)
INSERT [dbo].[SYS_MENUCOLUMN] ([ID], [MENUID], [TABLEID], [NAME], [TYPE], [CONDITIONTYPE], [INPUTTYPE], [FIELDTYPE], [FIELDTEXT], [FIELDVALUE], [SORTID], [CREATEBY], [CREATEDATE], [UPDATEBY], [UPDATEDATE], [ENABLED]) VALUES (3, 3, 1, N'NAME', 1, 7, 1, 167, N'角色名称', NULL, 100, N'admin', CAST(0x0000A847012CBE6D AS DateTime), N'admin', CAST(0x0000A847012CBE6D AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[SYS_MENUCOLUMN] OFF
SET IDENTITY_INSERT [dbo].[SYS_MENUTABLE] ON 

INSERT [dbo].[SYS_MENUTABLE] ([ID], [MENUID], [DBNAME], [TABLENAME], [SCHEMANAME], [ALIASNAME], [SORTID], [CREATEBY], [CREATEDATE], [UPDATEBY], [UPDATEDATE], [ENABLED]) VALUES (1, 3, N'CDMS_BASE', N'SYS_ROLE', N'dbo', N'a', 100, N'admin', CAST(0x0000A84700E9B8F0 AS DateTime), N'admin', CAST(0x0000A84700E9B8F0 AS DateTime), 1)
INSERT [dbo].[SYS_MENUTABLE] ([ID], [MENUID], [DBNAME], [TABLENAME], [SCHEMANAME], [ALIASNAME], [SORTID], [CREATEBY], [CREATEDATE], [UPDATEBY], [UPDATEDATE], [ENABLED]) VALUES (2, 3035, N'CDMS_BASE', N'SYS_DICTIONARY', N'dbo', N'a', 100, N'admin', CAST(0x0000A849011C5DE3 AS DateTime), N'admin', CAST(0x0000A849011C5DE3 AS DateTime), 1)
INSERT [dbo].[SYS_MENUTABLE] ([ID], [MENUID], [DBNAME], [TABLENAME], [SCHEMANAME], [ALIASNAME], [SORTID], [CREATEBY], [CREATEDATE], [UPDATEBY], [UPDATEDATE], [ENABLED]) VALUES (3, 2042, N'CDMS_BASE', N'SYS_MENUCOLUMN', N'dbo', N'a', 100, N'admin', CAST(0x0000A849011DA20F AS DateTime), N'admin', CAST(0x0000A849011DA20F AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[SYS_MENUTABLE] OFF
SET IDENTITY_INSERT [dbo].[SYS_ROLE] ON 

INSERT [dbo].[SYS_ROLE] ([ID], [NAME], [REMARK], [SORTID], [CREATEBY], [CREATEDATE], [UPDATEBY], [UPDATEDATE], [ENABLED]) VALUES (1, N'超级管理员', N'超级管理员', 100, N'system', CAST(0x0000A82D0080BDD0 AS DateTime), N'admin', CAST(0x0000A84800DD511C AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[SYS_ROLE] OFF
SET IDENTITY_INSERT [dbo].[SYS_ROLEMENU] ON 

INSERT [dbo].[SYS_ROLEMENU] ([ID], [ROLEID], [MENUID]) VALUES (20371, 1, 1)
INSERT [dbo].[SYS_ROLEMENU] ([ID], [ROLEID], [MENUID]) VALUES (20372, 1, 2)
INSERT [dbo].[SYS_ROLEMENU] ([ID], [ROLEID], [MENUID]) VALUES (20373, 1, 3)
SET IDENTITY_INSERT [dbo].[SYS_ROLEMENU] OFF
SET IDENTITY_INSERT [dbo].[SYS_ROLEUSER] ON 

INSERT [dbo].[SYS_ROLEUSER] ([ID], [USERID], [ROLEID]) VALUES (1, 1, 1)
SET IDENTITY_INSERT [dbo].[SYS_ROLEUSER] OFF
SET IDENTITY_INSERT [dbo].[SYS_USER] ON 

INSERT [dbo].[SYS_USER] ([ID], [ACCOUNT], [PWD], [CNNAME], [ENNAME], [SEX], [AGE], [EMAIL], [PHONE], [THEME], [QUESTION], [ANSWER], [IMG], [REMARK], [CREATEBY], [CREATEDATE], [UPDATEBY], [UPDATEDATE], [STATUS]) VALUES (1, N'admin', N'700073007200750074007A00', N'超级管理员', N'admin', N'1', 20, N'admin@admin.com', NULL, N'', N'', N'', NULL, N'', N'', CAST(0x0000A81F008C0C58 AS DateTime), N'', CAST(0x0000A81F008C0C58 AS DateTime), 1)
INSERT [dbo].[SYS_USER] ([ID], [ACCOUNT], [PWD], [CNNAME], [ENNAME], [SEX], [AGE], [EMAIL], [PHONE], [THEME], [QUESTION], [ANSWER], [IMG], [REMARK], [CREATEBY], [CREATEDATE], [UPDATEBY], [UPDATEDATE], [STATUS]) VALUES (2, N'92005179', N'700073007200750074007A00', N'超级管理员', N'admin', N'1', 20, N'admin@admin.com', NULL, N'', N'', N'', NULL, N'', N'', CAST(0x0000A81F008C0C58 AS DateTime), N'', CAST(0x0000A81F008C0C58 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[SYS_USER] OFF
ALTER TABLE [dbo].[SYS_MENU] ADD  CONSTRAINT [DF_SYS_MENU_DISPLAY]  DEFAULT ((1)) FOR [DISPLAY]
GO
ALTER TABLE [dbo].[SYS_MENUTABLE] ADD  CONSTRAINT [DF_SYS_MENUTABLE_ALIASNAME]  DEFAULT ('a') FOR [ALIASNAME]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'按钮名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_BUTTON', @level2type=N'COLUMN',@level2name=N'NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否可用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_BUTTON', @level2type=N'COLUMN',@level2name=N'ENABLED'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'日志类型 100=系统日志 1=业务数据 ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_LOG', @level2type=N'COLUMN',@level2name=N'LOGTYPE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'表名 ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_LOG', @level2type=N'COLUMN',@level2name=N'TABLETYPE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'操作类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_LOG', @level2type=N'COLUMN',@level2name=N'ACTIONTYPE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'对象主键ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_LOG', @level2type=N'COLUMN',@level2name=N'OBJECTID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标题' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_LOG', @level2type=N'COLUMN',@level2name=N'TITLE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_LOG', @level2type=N'COLUMN',@level2name=N'CONTENT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'参数内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_LOG', @level2type=N'COLUMN',@level2name=N'PCONTENT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'IP地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_LOG', @level2type=N'COLUMN',@level2name=N'IPADDRESS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'路径' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_LOG', @level2type=N'COLUMN',@level2name=N'URL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'浏览器' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_LOG', @level2type=N'COLUMN',@level2name=N'BROWSER'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_LOG', @level2type=N'COLUMN',@level2name=N'CREATEBY'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_LOG', @level2type=N'COLUMN',@level2name=N'CREATENAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建日志' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_LOG', @level2type=N'COLUMN',@level2name=N'CREATEDATE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否可用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_LOG', @level2type=N'COLUMN',@level2name=N'ENABLED'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否显示 1=显示 0=隐藏 默认 1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_MENU', @level2type=N'COLUMN',@level2name=N'DISPLAY'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'数据库名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_MENUTABLE', @level2type=N'COLUMN',@level2name=N'DBNAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'表名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_MENUTABLE', @level2type=N'COLUMN',@level2name=N'TABLENAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'架构名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_MENUTABLE', @level2type=N'COLUMN',@level2name=N'SCHEMANAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_USERLOGIN', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'员工ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_USERLOGIN', @level2type=N'COLUMN',@level2name=N'EMPLOYEEID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_USERLOGIN', @level2type=N'COLUMN',@level2name=N'LOGINTIME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'过期时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_USERLOGIN', @level2type=N'COLUMN',@level2name=N'EXPIREDTIME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登出时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_USERLOGIN', @level2type=N'COLUMN',@level2name=N'LOGOUTTIME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态 1=在线 0=离线' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_USERLOGIN', @level2type=N'COLUMN',@level2name=N'STATUS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录IP' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_USERLOGIN', @level2type=N'COLUMN',@level2name=N'IP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录浏览器' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_USERLOGIN', @level2type=N'COLUMN',@level2name=N'BROWSER'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'描述' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_USERLOGIN', @level2type=N'COLUMN',@level2name=N'DESCRIPTION'
GO
USE [master]
GO
