<blockquote class="layui-elem-quote">
    <div class="layui-inline">
        <div class="layui-input-inline">
            <input type="text" value="" id="txtKey" placeholder="请输入关键字" class="layui-input" />
        </div>
        <a class="layui-btn search_btn" id="btn-query">查询</a>
    </div>
    @Html.Action("button", "menu")
</blockquote>
<div class="layui-form">
    <table class="layui-table" id="columnList"></table>
</div>

@section scripts{
    <script type="text/javascript">
        layui.use(['jquery', 'mytable', 'utils'], function () {
            var $ = layui.jquery, table = layui.mytable, utils = layui.utils, btn = utils.btns;

            var tableId = 'columnList';

            var cols = [
                   [{ checkbox: true, width: '5%' },
                   { field: 'MENUNAME', title: '菜单', width: '10%' },
                   { field: 'TABLENAME', title: '表名', width: '10%' },
                   { field: 'NAME', title: '列名', width: '10%' },
                   {
                       field: 'CONDITIONTYPE', title: '条件类型', width: '10%', content: function (v) {
                           var value = '';
                           switch (v) {
                               case 1:
                                   value = '等于';
                                   break;
                               case 2:
                                   value = '大于';
                                   break;
                               case 3:
                                   value = '大于等于';
                                   break;
                               case 4:
                                   value = '小于';
                                   break;
                               case 5:
                                   value = '小于等于';
                                   break;
                               case 6:
                                   value = '不等于';
                                   break;
                               case 7:
                                   value = '包含';
                                   break;
                           }
                           return value;
                       }
                   },
                   {
                       field: 'INPUTTYPE', title: '控件类型', width: '10%', content: function (v) {
                           var value = '';
                           switch (v) {
                               case 1:
                                   value = '文本框';
                                   break;
                               case 2:
                                   value = '下拉框';
                                   break;
                               case 3:
                                   value = '隐藏文本框';
                                   break;
                               case 4:
                                   value = '日期框';
                                   break;
                           }
                           return value;
                       }
                   },
                   { field: 'FIELDTEXT', title: '控件文本', width: '10%' },
                   { field: 'SORTID', title: '排序', width: '10%', align: 'center' }
                   ]
            ];

            table.render(tableId, '/sys/menuColumn/getList', cols, getParameters());

            $('#' + btn.btn_query).click(function () {
                table.reload(tableId, { where: getParameters() });
            });

            $('#' + btn.btn_add).click(function () {
                var index = utils.open({
                    title: '添加菜单表',
                    url: '/sys/menuColumn/form?menuid=' + utils.getQueryString('id', '0'),
                    area: ['600px', '500px']
                });
            });

            $('#' + btn.btn_edit).click(function () {
                var rows = table.checkStatus();
                var len = rows.length;
                if (len < 1) {
                    utils.alert('没有选择任何行');
                    return;
                }
                else if (len > 1) {
                    utils.alert('只能选择一行修改');
                    return;
                }
                var index = utils.open({
                    title: '修改菜单表',
                    url: '/sys/menuColumn/form?id=' + rows[0].ID,
                    area: ['600px', '500px']
                });
            });

            $('#' + btn.btn_delete).click(function () {
                var rows = table.checkStatus();
                var len = rows.length;
                if (len < 1) {
                    utils.alert('没有选择任何行');
                    return;
                }
                utils.confirm('确实要删除选择行吗?', function () {
                    var ids = [];
                    $.each(rows, function (i, item) {
                        ids.push(item.ID);
                    });
                    utils.post('/sys/menuColumn/delete', { ids: ids });
                });
            });

            function getParameters() {
                var json = { MENUID: utils.getQueryString('id', '0'), TABLENAME: $('#txtKey').val() };
                return { json: JSON.stringify(json) };
            }
        });
    </script>
}