<blockquote class="layui-elem-quote">
   @Html.Action("button", "menu")
</blockquote>
<div class="layui-form">
    <table class="layui-table" id="buttonList"></table>
</div>
<form class="layui-form" id="form1">
    <div class="right">
        <button class="layui-btn" id="btn-sure" type="button">确定</button>
        <button type="button" class="layui-btn layui-btn-primary" id="btn-cancel">取消</button>
        <input type="hidden" id="pid" name="pid" value="@ViewBag.PID" />
    </div>
</form>

@section scripts{
    <script type="text/javascript">
        layui.use(['jquery', 'mytable', 'utils'], function () {
            var $ = layui.jquery, table = layui.mytable, utils = layui.utils, btn = utils.btns;

            var tableId = 'buttonList';
            var cols = [
                     [{ checkbox: true, width: '5%' },
                     { field: 'NAME', title: '名称', width: '15%' },
                     { field: 'CODE', title: 'CODE', width: '10%' },
                     {
                         field: 'IMG', title: 'ICON', width: '10%', align: 'center',
                         content: function (value, item, index) {
                             if (value) return '<i class="layui-icon">' + value + '</i>';
                             return '';
                         }
                     },
                     { field: 'CLASSNAME', title: '样式', width: '15%' },
                     { field: 'REMARK', title: '描述', width: '20%' },
                     { field: 'SORTID', title: '排序', width: '10%', align: 'center' }
                     ]
            ];
            table.render('buttonList', '/sys/button/getList', cols, getParameters());

            $('#' + btn.btn_query).click(function () {
                table.reload({ where: getParameters() });
            });

            $('#btn-sure').on('click', function () {
                var rows = table.checkStatus();
                var len = rows.length;
                if (len < 1) {
                    utils.alert('没有选择任何行');
                    return;
                }
                var ids = [];
                $.each(rows, function (i, item) {
                    ids.push(item.ID);
                });
                utils.post('/sys/button/addButtons', { pid: $('#pid').val(), ids: ids });
                return false;
            });

            $('#btn-cancel').on('click', function () {
                utils.closeFrame();
            });

            function getParameters() {
                var json = JSON.stringify(utils.getFormData(document.body));
                return { json: json };
            }
        });
    </script>
}
