<blockquote class="layui-elem-quote">
    @Html.Action("button", "menu")
</blockquote>
<div class="layui-form">
    <table class="layui-table" id="tableList"></table>
</div>

@section scripts{
    <script type="text/javascript">
        layui.use(['jquery', 'mytable', 'utils'], function () {
            var $ = layui.jquery, table = layui.mytable, utils = layui.utils, btn = utils.btns;

            var tableId = 'tableList';
            var cols = [
                   [{ checkbox: true, width: '5%' },
                   //{ field: 'NAME', title: '菜单', width: '10%' },
                   { field: 'DBNAME', title: '数据库', width: '10%' },
                   { field: 'SCHEMANAME', title: '架构', width: '10%' },
                   { field: 'TABLENAME', title: '表', width: '10%' },
                   { field: 'ALIASNAME', title: '别名', width: '10%' },
                   { field: 'SORTID', title: '排序', width: '10%', align: 'center' }
                   ]
            ];

            table.render(tableId, '/sys/menuTable/getList', cols, getParameters());

            $('#' + btn.btn_query).click(function () {
                table.reload({ where: getParameters() });
            });

            $('#' + btn.btn_add).click(function () {
                var index = utils.open({
                    title: '添加菜单表',
                    url: '/sys/menuTable/form?menuid=' + utils.getQueryString('id', '0'),
                    area: ['600px', '400px']
                });
            });

            $('#' + btn.btn_edit).click(function () {
                var rows = table.checkStatus();
                var len = rows.length;
                if (len < 1) {
                    utils.alert('没有选择任何行');
                    return;
                }
                else if (len > 1) {
                    utils.alert('只能选择一行修改');
                    return;
                }
                var index = utils.open({
                    title: '修改菜单表',
                    url: '/sys/menuTable/form?id=' + rows[0].ID,
                    area: ['600px', '400px']
                });
            });

            $('#' + btn.btn_delete).click(function () {
                var rows = table.checkStatus();
                var len = rows.length;
                if (len < 1) {
                    utils.alert('没有选择任何行');
                    return;
                }
                utils.confirm('确实要删除选择行吗?', function () {
                    var ids = [];
                    $.each(rows, function (i, item) {
                        ids.push(item.ID);
                    });
                    utils.post('/sys/menuTable/delete', { ids: ids });
                });
            });

            function getParameters() {
                var json = JSON.stringify(utils.getFormData(document.body));
                return { json: json };
            }
        });
    </script>
}